<html ng-app="diandanbao" class="ng-scope"><head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}</style>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta content="telephone=no" name="format-detection">
<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
<meta content="production" name="env">
<title>按桌号查看</title>
<link data-turbolinks-track="true" href="{RES}/mobile/{php echo $this->cur_tpl}/assets/diandanbao/weixin.css?v=1" media="all" rel="stylesheet">
<style type="text/css">@media screen{.smnoscreen {display:none}} @media print{.smnoprint{display:none}}</style></head>
<body>

<div ng-view="" style="height: 100%;" class="ng-scope">
    <div class="ddb-nav-header ng-scope" common-header="">
        <!--<div class="nav-left-item"  onclick="javascript :history.back(-1);"><i class="fa fa-angle-left"></i></div>-->
        <a class="nav-left-item" href="{php echo $this->createMobileUrl('orderall', array(), true)}"><div class="operation-button red">查看所有</div></a>
        <div class="header-title ng-binding">按桌号查看</div>
       
     <!--    <a class="nav-right-item" href="{php echo $this->createMobileUrl('adminorder', array(), true)}">
            <div class="operation-button red"><i class="fa fa-qrcode"></i>扫一扫</div>
        </a> -->
        <a class="nav-right-item" href="{php echo $this->createMobileUrl('login', array(), true)}">
            <div class="operation-button red">退出</div>
        </a>
       
    </div>

    <!-- 底部菜单 -->
    {php include $this->template($this->cur_tpl.'/_menu2');}


    <div class="orders-index-page main-view ng-scope" id="delivery-orders-index">
    <div id="ddb-branch-show" style="padding-top: 5px;">
    <style type="text/css">
        .tableslist{float:left;width:25%!important}
    </style>
    {loop $list $item}
        <div class="operation-navs ng-scope tableslist" style="">
            <div class="operation-nav-item ng-scope ">
                <a href="index.php?i=1&c=entry&do=look_list&tables={$item['id']}&title={$item['title']}&m=weisrc_dish">
                    <div class="icon red ng-scope"><i class="fa fa-edit"></i></div>
                    <div class="text ng-binding">{$item['name']['title']}-{$item['title']}</div>
                </a>
            </div> 
        </div>
    {/loop}
    </div>
    </div>
</div>
<script>
function jump(status) {
    window.location.href = "{php echo $this->createMobileUrl('order', array(), true)}" + "&status=" + status;
}
function go_detail(id,storeid,tablesid,stepnow) {
    window.location.href = "{php echo $this->createMobileUrl('operadetail', array(), true)}" + "&orderid=" + id+"&storeid=" + storeid+"&tablesid=" + tablesid+"&stepnow=" + stepnow;
}
</script>
</body>
</html>
